@import '../../../../styles.less';

.cells-container {
  overflow-x: hidden;
  margin: 0 auto;
}

.od-scroll-container {
  display: flex !important;
  justify-content: center !important;
}

/deep/ od-virtualrow {
  width: 50rem;
  padding: 0 calc((100% - 50rem) / 2);

  @media only screen and (max-width: @bp-phone) {
    width: 35rem;
    padding: 0 calc((100% - 35rem) / 2);
  }
}
